* {
    font-family: sans-serif;
}


.page-content {
    width: 100%;
}

.table {
    width: 100%;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
    background-color: #660000;
}

.nav-link:hover .bi{
    color: white;
}

.nav-link .bi{
    color: #660000;
}

.nav-link:focus {
    color: black;
}

